@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  {/*changes*/}
.container-main {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size:1rem;
  line-height:1.7;
  color: #000000;
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/images/pic01.jpg'); /*We can specify 2 background images, the first one being the top one - the linear gradient will be on top of the linear gradient - then we can ujst pull the opacity value down with the color picker or specify the opacity*/
    background-size: cover; /*will fit the image across the entire width of the view port*/
    background-position: top; /*ensure the image stays at the top of the container while bottom would do the opposite and center will always stay at the center*/
    text-transform: uppercase; 
    position: fixed;
    padding-bottom: 10rem;
    overflow: scroll;
    overflow-x: hidden;
  }

  .container-main-overlay {
    background-color: rgba(44, 44, 37, 0);
    height: 100vh;
    width: 100vw;
    position: fixed;
    padding-bottom: 10rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
}
.navigation {
  z-index: 10;
}

@media(max-width: 640px) {
  .container-main {
      padding: 0;
    }
  
    .container-main-overlay {
      padding-bottom: 0;
    }
}